*{
	margin:0px;
}
.container{
width: 30%;
margin:20px auto;
border:ridge 2px skyblue;
padding:10px;
border-radius:30px;
}
#logIn{
	padding-top:20px;
}
.text{
	width:80%;
	margin-left:8%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius:30px;
}
.text2{
	width:30%;
}
.button{
	margin:auto;
	width:100px;
	margin-left:15%;
}
.container h3{
	text-align:center;
	
}
h2{
	text-align:center;
	text-transform:capitalize;
}
.logo{
	width:100px;
	margin:10px auto;
}
input{
	background-color: rgba(135,206,250,0.2);
}
label{
	text-transform:capitalize;
	margin: 10px;
	padding:10px;

}
#data_table{
	width: 90%;
	margin:0px auto;
}
#data_table input{
	width:98%;

}
#new_name{
	width:90%;
}
#logout{
background-color:rgba(135,206,250,0.8);
height:60px;
margin-top: 0px;
}
#logout input{
	float:right;
	padding:10px;
	margin: 10px;
}